[submodule "inc/skop"]
	path = inc/skop
	url = https://github.com/presscustomizr/skope.git
[submodule "inc/sek"]
  path = inc/sek
  url = https://github.com/presscustomizr/sektions.git
[submodule "grunt-tasks-config"]
  path = grunt-tasks-config
  url = https://github.com/presscustomizr/hueman-addons-grunt-tasks.git